doctype html
html
  head
    title= "Cats Gifs"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    block content
    p.made-by
      a(href="https://github.com/lironzluf/gifMonitor") GifMonitor
      br
      small by Liron Zluf